body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  position: relative;
  display: flex;
  width: 395px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #23406f;
  background-clip: border-box;
  border: 1px solid #23406f;
  border-radius: 7px;
}

.light {
  color: #7d7979;
  font-size: 11px;
}
